.section.mod--hero {
  z-index: 1;
  padding-top: 9rem;
  overflow: hidden;
  transform: translate(0);
  color: #fff;
}

.section.mod--hero .section {
  padding: 5rem 1.25rem;
  position: relative;
}
.section.mod--hero .container {
  z-index: 2;
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.section.mod--hero .columns.mod--blog-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  animation: fadeIn 1s ease;
}
.section.mod--hero .columns {
  align-items: stretch;
  display: flex;
  margin-bottom: 20px;
}
.section.mod--hero .columns__col.mod--blog-hero.is-1 {
  flex: 1;
  margin-right: 20px;
  transform-origin: 100% 0;
}
.section.mod--hero .columns__col.mod--blog-hero {
  opacity: 1;
  transform-origin: 0 0;
  flex: 2;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 0.6s, opacity 0.4s;
  position: relative;
  transform: perspective(800px) rotate(0);
}
.section.mod--hero .catalog-card-border {
  background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/648851aaa48a45742e1c2189_bg-card-postBorderBig_laptop.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  padding: 4.5rem 2.5rem 2.2rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero .heading-wrap.mod--catalog-border {
  flex: 1;
}

.section.mod--hero .heading-wrap {
  position: relative;
}
.section.mod--hero .heading-1.mod--catalog-border {
  letter-spacing: 0.01em;
}
.section.mod--hero .heading-1 {
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 500;
  line-height: 0.9;
}
.section.mod--hero .catalog-subs__img-wrap {
  grid-column-gap: 1.25rem;
  align-items: center;
  margin-top: 2.5rem;
  display: flex;
}
.section.mod--hero .catalog-subs__img.anim,
.section.mod--hero .catalog-subs__img.is-success {
  display: block;
}
.section.mod--hero .catalog-subs__img.is-success.anim {
  display: none;
}

.section.mod--hero .catalog-subs__img {
  opacity: 1;
  object-fit: cover;
  border-radius: 50%;
  flex: none;
  width: 4.5rem;
  height: 4.5rem;
  display: none;
}
.section.mod--hero .catalog-subs__img.anim {
  transition: transform 0.5s ease;
}
.section.mod--hero .catalog-subs__img.anim:hover {
  transform: scale(1.1);
}
.section.mod--hero .catalog-subs__text {
  letter-spacing: 0.01em;
  max-width: 21.375rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}
.section.mod--hero .catalog-subs__form-wrap {
  border-top: 0.0625rem solid #fffc;
  margin-top: 2.5rem;
  padding-top: 2rem;
}
.section.mod--hero .form-wrapper {
  margin-bottom: 0;
  position: relative;
}
.section.mod--hero .w-form {
  margin: 0 0 15px;
}
.section.mod--hero .w-form form[data-success-hide] {
  display: block !important;
}
.section.mod--hero .form {
  width: 100%;
  height: 100%;
  position: relative;
}
.section.mod--hero .form-subs__content {
  position: relative;
}
.section.mod--hero .input-wrap {
  z-index: 1;
  flex: 1;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .input.mod--catalog-subs {
  background-color: var(--white);
  color: var(--blue-dark);
  letter-spacing: 0.01em;
  border: 0.1875rem solid #fffc;
  border-radius: 20rem;
  height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 9.5rem;
  overflow: hidden;
}
.section.mod--hero .form__submit-result.anim {
  opacity: 0;
}
.section.mod--hero .pointer-events-off {
  pointer-events: none;
}
.section.mod--hero .form__label,
.section.mod--hero .form__label-invalid,
.section.mod--hero .form__submit-result {
  pointer-events: none;
}
.section.mod--hero .form__submit-result {
  z-index: 2;
  border-radius: 5rem;
  margin: 0.2rem;
  transition: all 0.2s;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .form__submit-result-text.mod--blog {
  background-color: var(--white);
  color: var(--blue-dark);
  letter-spacing: 0.01em;
  padding-left: 1.2rem;
}

.section.mod--hero .form__submit-result-text {
  border-radius: 20rem;
  align-items: center;
  padding-left: 1.1rem;
  display: flex;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .form__label-invalid.is-subs {
  left: 1.5rem;
}
.section.mod--hero .form__label-invalid.anim {
  opacity: 0;
  transform: translateY(-0.5rem);
}
.section.mod--hero .form__label-invalid {
  opacity: 1;
  color: #ff3d2e;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  inset: auto auto -1.5rem 0%;
  transform: translate(0);
}

.section.mod--hero .form-submit-wrap.mod--subs,
.section.mod--hero .form-submit-wrap.mod--blog {
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0.5rem 0% auto;
}

.section.mod--hero .form-submit-wrap {
  z-index: 5;
  flex: none;
  transition: all 0.4s;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .button.mod--blog {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1.5rem;
  overflow: hidden;
}
.section.mod--hero .button.mod--blog:hover {
  background-color: #0056b3;
}
.section.mod--hero .button {
  z-index: 2;
  grid-column-gap: 0.75rem;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20rem;
  justify-content: center;
  align-items: center;
  padding: 1.1rem 0.75rem 1.1rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  transition: all 0.4s;
  display: flex;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .button__overflow {
  z-index: 1;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.section.mod--hero .button__texts {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  transform: translate(0);
}
.section.mod--hero .button__text.is-absolute {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  inset: 0%;
  transform: translateY(150%);
}
.section.mod--hero .button:hover .button__text.is-absolute {
  opacity: 1;
}
.section.mod--hero .submit__checked.anim {
  opacity: 0;
}
.section.mod--hero .submit__checked {
  z-index: 4;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  display: flex;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .submit__checked-anim.anim {
  width: 0;
}

.section.mod--hero .submit__checked-anim {
  width: 1.5rem;
  transition: all 1.5s;
  overflow: hidden;
}
.section.mod--hero .submit__checked-icon {
  z-index: 2;
  width: 1.5rem;
  max-width: none;
  position: relative;
}
.section.mod--hero [data-submit-wrap] input[type="submit"] {
  display: none;
}
.section.mod--hero .form-submit.is-absolute {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .form-submit.is-absolute:hover {
  background-color: #218838;
}
.section.mod--hero input {
  line-height: normal;
}
.section.mod--hero button,
.section.mod--hero input,
.section.mod--hero optgroup,
.section.mod--hero select,
.section.mod--hero textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.section.mod--hero .w-form form[data-success-hide] ~ .w-form-done {
  display: none !important;
}
.section.mod--hero .form-success {
  text-align: left;
  background-color: #0000;
  height: 100%;
  padding: 0;
}
.section.mod--hero .w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.section.mod--hero .w-form .w-form-fail {
  display: none !important;
}

.section.mod--hero .form-error {
  color: #ff3d2e;
  background-color: #0000;
  margin-top: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  position: absolute;
  inset: auto 0% -1.7rem 1.5rem;
}
.section.mod--hero .swiper.mod--projects-hero {
  border-radius: 1.5rem;
  height: 100%;
}
.section.mod--hero .swiper,
.section.mod--hero .swiper-wrapper {
  user-select: none;
}
.section.mod--hero .swiper-pointer-events {
  touch-action: pan-y;
}
.section.mod--hero .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.section.mod--hero .swiper-wrapper.mod--projects-hero,
.section.mod--hero .swiper-wrapper.mod--stories {
  height: 100%;
}
.section.mod--hero .swiper,
.section.mod--hero .swiper-wrapper {
  user-select: none;
}
.section.mod--hero .swiper-android .swiper-slide,
.section.mod--hero .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.section.mod--hero .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.section.mod--hero .swiper-wrapper {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  transition: all;
  display: flex;
}
.section.mod--hero .swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.section.mod--hero .swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.section.mod--hero .swiper-slide.mod--projects-hero2 {
  width: 100%;
}
.section.mod--hero .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.section.mod--hero .swiper-slide {
  flex: none;
  align-items: stretch;
  position: relative;
}
.section.mod--hero .catalog-card-fill {
  background-color: var(--blue);
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 35.25rem;
  display: flex;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.section.mod--hero .catalog-card-fill__img-wrap {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 3.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero .catalog-card-fill__img {
  z-index: 1;
  object-fit: contain;
  border-radius: 0;
  width: 20rem;
  height: 20rem;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: relative;
  transform: scale(1.01);
}
.section.mod--hero .catalog-card-fill__content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  flex: 0 auto;
  min-height: 11.2rem;
  padding-bottom: 4.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
}
.section.mod--hero .post-card__param.is--big.anim {
  opacity: 0;
}

.section.mod--hero .post-card__param.is--big {
  margin-bottom: 0;
  transition: opacity 0.2s;
}
.section.mod--hero .post-card__param {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
}
.section.mod--hero .swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.section.mod--hero .catalog-hero__pagination {
  z-index: 2;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  transition: opacity 0.2s;
  position: absolute;
  inset: auto 0% 0;
}
.section.mod--hero .swiper-horizontal > .swiper-pagination-bullets,
.section.mod--hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.section.mod--hero .swiper-pagination-custom,
.section.mod--hero .swiper-pagination-fraction {
  left: 0;
  width: 100%;
}
.section.mod--hero .swiper-pagin.mod--catalog-hero {
  grid-column-gap: 1rem;
  margin-top: 0;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.section.mod--hero [data-swiper-pagination] {
  position: relative !important;
  border-radius: 6rem !important;
  top: initial !important;
  bottom: initial !important;
}
.section.mod--hero .swiper-pagin {
  justify-content: center;
  align-items: center;
  height: 0.25rem;
  margin-bottom: 0;
  display: flex;
}
.section.mod--hero .catalog-card-fill {
    background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/6488858edd23f5690e30e623_bg-card-postBig2_laptop.webp);
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 35.25rem;
    display: flex
;
    position: relative;
    transform: translate(0);
}
.section.mod--hero [data-swiper-pagination-style="load"][data-swiper-pagination-color="light"]
  .swiper-pagination-bullet,
.section.mod--hero [data-swiper-pagination-style="load"][data-swiper-pagination-color="light"]
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.3);
}
.section.mod--hero .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.section.mod--hero .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.section.mod--hero [data-swiper-pagination-style="load"] .swiper-pagination-bullet {
  max-width: 100% !important;
  opacity: 1;
}
.section.mod--hero [data-swiper-pagination] .swiper-pagination-bullet {
  height: 100%;
  margin: 0rem !important;
  max-width: 2rem;
  opacity: 0.2;
  background-color: #eaeaec;
  border-radius: 6.25rem;
  flex: 1;
  position: relative;
  transition: all 0.2s;
}
.section.mod--hero .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.section.mod--hero .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.section.mod--hero [data-swiper-pagination-style="load"][data-swiper-pagination-color="light"]
  .swiper-pagination-bullet::after {
  background-color: #fff;
}
.section.mod--hero [data-swiper-pagination-style="load"]
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  width: 100%;
  transition: all 4700ms linear;
}
.section.mod--hero [data-swiper-pagination-style="load"] .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 6.25rem;
  background-color: #3827c7;
}
.section.mod--hero .catalog-hero__fire {
  z-index: 2;
  pointer-events: none;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  position: absolute;
  inset: 2.5rem auto auto 3rem;
}
.section.mod--hero .catalog-hero__icon-fire {
  width: 1.75rem;
  display: block;
}

.section.mod--hero .category-wrap {
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  display: flex;
}
.section.mod--hero .dropdown__icon-wrap.mod--issues,
.section.mod--hero .category-dropdown {
  display: none;
}

.section.mod--hero .w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.section.mod--hero a,
.section.mod--hero .w-input,
.section.mod--hero .w-select,
.section.mod--hero .w-tab-link,
.section.mod--hero .w-nav-link,
.section.mod--hero .w-dropdown-btn,
.section.mod--hero .w-dropdown-toggle,
.section.mod--hero .w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
.section.mod--hero .w-dropdown-toggle {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}
.section.mod--hero .w-dropdown-btn,
.section.mod--hero .w-dropdown-toggle,
.section.mod--hero .w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}
.section.mod--hero .w-dropdown-list {
  min-width: 100%;
  display: none;
  position: absolute;
}

.section.mod--hero article,
.section.mod--hero aside,
.section.mod--hero details,
.section.mod--hero figcaption,
.section.mod--hero figure,
.section.mod--hero footer,
.section.mod--hero header,
.section.mod--hero hgroup,
.section.mod--hero main,
.section.mod--hero menu,
.section.mod--hero nav,
.section.mod--hero section,
.section.mod--hero summary {
  display: block;
}
.section.mod--hero .category__btn.w--current {
  color: var(--blue-dark);
  background-color: #fff;
  border-color: #fff;
}
.section.mod--hero .category__btn {
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0000;
  border: 0.0625rem solid #ffffff4d;
  border-radius: 20rem;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 1.125rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
}
.section.mod--hero .w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.section.mod--hero .collection {
  width: 100%;
}
.section.mod--hero .collection__list.mod--category,
.section.mod--hero .collection__list.mod--category-more {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}
.section.mod--hero .category__btn.mod--search {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  padding-right: 0.75rem;
}
.section.mod--hero .button__icons.mod--search {
  color: var(--blue-dark);
  background-color: #fff;
  border-style: none;
}

.section.mod--hero .button__icons {
  color: #fff;
  background-color: #3827c7;
  border: 0.125rem solid #3827c7;
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  transition: all 0.4s;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero .button__icon-anim {
  z-index: 1;
  justify-content: center;
  align-items: center;
  font-size: 0;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  position: relative;
  transform: translate(0%);
}
.section.mod--hero .button__icon-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}
.section.mod--hero .w-embed:before,
.section.mod--hero .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}
.section.mod--hero .button__icon-small.is-icon-absolute {
  position: absolute;
  inset: 0%;
  transform: translate(-180%);
}
.section.mod--hero .button__bg {
  background-color: #3827c7;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: absolute;
  inset: 0%;
  transform: scale(0);
}

.section.mod--hero .form-block.mod--search.anim {
  opacity: 0;
  width: 9.8rem;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06), ease;
}
@media screen and (min-width: 480px) {
  .section.mod--hero [data-component="search-form"].anim {
    pointer-events: none;
  }
}
.section.mod--hero .form-block.mod--search {
  opacity: 1;
  width: 100%;
  margin-bottom: 0;
  transition: opacity 0.1s, width 0.5s;
  display: flex;
  left: auto;
}
.section.mod--hero .form-block {
  z-index: 2;
  margin-bottom: 0;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .form.mod--search {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-color: var(--blue-dark);
  border: 0.0625rem solid #fffc;
  border-radius: 20rem;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  display: flex;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .search__icon {
  background-color: var(--yellow);
  color: var(--blue-dark);
  border-radius: 20rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}
.section.mod--hero .search-input {
  color: #fff;
  letter-spacing: 0.01em;
  background-color: #0000;
  border: 0 #000;
  flex: 1;
  height: 100%;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  transition: all 0.3s;
}
.section.mod--hero .search__close {
  color: #ffffffb3;
  cursor: pointer;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 100%;
  display: flex;
}
.section.mod--hero .icon-regular {
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
  position: relative;
}
.section.mod--hero .w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.section.mod--hero .w-form .w-form-fail {
  display: none !important;
}

.section.mod--hero .w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
.section.mod--hero .collection__list.is-posts {
  grid-row-gap: 5rem;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
}
.section.mod--hero .collection__item.is-posts {
  width: 33.3333%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section.mod--hero .post-card {
  background-color: #0000;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.section.mod--hero .post-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.section.mod--hero .post-card__img-link {
  background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/6488858edd23f5690e30e623_bg-card-postBig2_laptop.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero .post-card__img {
  z-index: 1;
  object-fit: contain;
  border-radius: 0;
  width: 17rem;
  height: 17rem;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: relative;
  transform: scale(1.01);
}
.section.mod--hero .post-card__param {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
}
.section.mod--hero .post-card__param > div {
  width: auto;
}

.section.mod--hero .post-card__param-date {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  flex: 1;
  justify-content: flex-end;
  display: flex;
}
.section.mod--hero .w-dyn-hide,
.section.mod--hero .w-dyn-bind-empty,
.section.mod--hero .w-condition-invisible {
  display: none !important;
}
.section.mod--hero .columns.mod--blog-empty {
  align-items: center;
}
.section.mod--hero .columns__col.is-1-old.mod--blog-empty {
  max-width: 36.625rem;
}
.section.mod--hero .columns__col.is-2-old.mod--blog-empty {
  z-index: -1;
  flex: 0 auto;
  width: 50%;
  position: relative;
  transform: translate(0);
}
.section.mod--hero .heading-5 {
  font-size: var(--34);
  letter-spacing: -0.01em;
  text-transform: none;
  font-weight: 500;
  line-height: 1.2;
}
.section.mod--hero .blog__empty-desc {
  color: #ffffffb3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.4;
}
.section.mod--hero .blog__empty-img-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}
.section.mod--hero .blog__empty-bg {
  width: 39.9375rem;
  max-width: none;
}
.section.mod--hero .blog__empty-gif {
  object-fit: cover;
  border-radius: 50%;
  width: 10rem;
  max-width: none;
  height: 10rem;
  position: absolute;
}
.section.mod--hero .posts-pagination {
  z-index: 1;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  opacity: 0;
  justify-content: center;
  align-items: center;
  min-height: 3.5rem;
  margin: 5rem 0;
  transition: opacity 0.5s;
  display: flex;
}
.section.mod--hero .w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
.section.mod--hero a[class^="w-pagination-"][style*="display: none"] {
  cursor: default;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
.section.mod--hero .posts-pagination__btn.is-previews {
  transform: rotate(-180deg);
}
.section.mod--hero a[class^="w-pagination-"] {
  display: flex !important;
}
.section.mod--hero .posts-pagination__btn {
  color: #fff;
  background-color: #0000;
  border: 0.0625rem solid #ffffff4d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 2.1;
  transition: all 0.4s;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero .w-pagination-previous,
.section.mod--hero .w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}
.section.mod--hero .posts-pagination__pages {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section.mod--hero .posts-pagination__btn.is-page.w--current {
  color: var(--blue-dark);
  background-color: #fff;
  border-color: #fff0;
  font-size: 0.875rem;
  line-height: 1.4;
}
.section.mod--hero .posts-pagination__btn {
  color: #fff;
  background-color: #0000;
  border: 0.0625rem solid #ffffff4d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 2.1;
  transition: all 0.4s;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}
.section.mod--hero [fs-cmsload-element="page-button"].w--current::after {
  transform: scale(1);
}

.section.mod--hero [fs-cmsload-element="page-button"]::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(0);
  z-index: -1;
}
.section.mod--hero .hide {
  display: none !important;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
