header {
  background-color: var(--white);
  
}
nav img {
  width: 200px;
}
nav a {
  font-family: 'Quantify';
}
.contact-btn:hover .rounded-full {
  background-color: transparent;
  border: 2px solid;
}