header {
  background-color: var(--white);
}
nav img {
  width: 200px;
}
.get-started {
  font-size: 16px;
  line-height: normal;
  letter-spacing: .05em;
  font-weight: 500;
  text-transform: uppercase;
}
.get-started:hover {
  background-color: var(--theme-color);
  color: var(--white);
}