.slider, .project-post .project-img {
    mask-image: url(/src/assets/img-bg-card.png);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}
.project-post .project-img {
    height: 300px;
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .project-slider h1 {
        font-size: 100px;
    }
}