.header-top {
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
  }
  .header-nav {
    display: flex;
    gap: 2rem;
  }
  .header-nav a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: border 0.2s;
  }
  .header-nav a.active, .header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  .header-contact {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .header-contact .contact-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .header-contact span[role="img"] {
    margin-right: 0;
    font-size: 14px;
  }
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
  }
  .header-logo {
    width: 15%;
  }
  .header-logo img {
    width: 100%;
    object-fit: contain;
  }
  .header-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color: #fff;
    box-shadow: 0 0 10px 0 #EC691F;
  }
  .header-menu a {
    color: #23272F;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 500; 
    font-size: 15px;
    transition: color 0.2s;
    backdrop-filter: blur(10px);
    border-radius: 50px;
  }
  .header-menu a:hover {
  background: #EC691F;
  color: #ffffff;
  }
  .dropdown span {
    font-size: 0.8em;
  }
  .engage-btn {
    background: #EC691F;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
  }
  .engage-btn:hover { 
    background: #dd5406;
  }
  @media (max-width: 900px) {
    .header-top, .header-bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;
    }
    .header-menu {
      gap: 1rem;
    }
  }
  