.scroll-to-top {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: #EC691F;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #ffffff;
  color: #EC691F;
  transform: translateY(-3px);
}

.scroll-to-top svg {
  width: 24px;
  height: 24px;
} 