.about-us-main .hero-section {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83vh;
}

.about-us-main h1 {
    font-size: 36px;
    margin-bottom: 20px;
} 