.blog-main{
    padding: 50px 10%;
}
.blog-main .hero-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    padding-bottom: 30px;
}
.hero-title{
    font-size: 25px;
    color: #EC691F;
    padding-bottom: 0px !important;
}
.blog-main .hero-section h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #10131A;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 1px;
} 
