@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Quantify';
  src: local('Quantify'), url(./fonts/Quantify.woff) format('woff');
}
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --theme-color: #ec691f;
  --white: #fff;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  font-size: 16px;
  line-height: normal;
}
.btn {
  padding: 10px 25px;
  border-radius: 50px;
}
.btn-orange {
  background-color: var(--theme-color);
  color: var(--white);
}
.quantify-font {
  font-family: 'Quantify';
}
.project-slider .all-cases-btn .arrow-2, .project-slider .all-cases-btn:hover .arrow-1 {
  display: none;
  transition: all 3s linear;
}
.project-slider .all-cases-btn:hover .arrow-2 {
  display: block;
  transition: all 3s linear;
}