.custom-cursor {
  width: 10px;
  height: 10px;
  background-color: #ec691f;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
  z-index: 9999;
}

.custom-cursor.hovering {
  background-color: #ec691f;
} 