.whatsapp-button {
    align-items: center;
    background-color: #25d366;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 0 2px 5px #0000004d;
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    right: 20px;
    width: 60px;
    z-index: 1000;
}

.icon,
.whatsapp-button img {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 40px;
    width: 40px;
} 